.content-main {
    display: flex;
    flex-direction: column;
}
.content-search {
    padding: 10px;
}
.content-operate {
    padding: 10px;
}
.content-table {
    padding: 0 10px 10px 10px;
    min-height: 30rem;
}